.button, .inverseButton, .button:hover, .inverseButton:hover {
    border-radius: 2rem;
    font-size: .9em;
    font-weight: 800;
    padding: .6em 1em;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
  }

  .button {
    background-color: #5F83F3;
    border-color: #5F83F3;
    color: white;
    margin-right: 10px;
    transition: .25s;
  }

  .inverseButton {
    color: #5F83F3;
    background-color: white;
    transition: .25s;
  }

  .button:hover {
    box-shadow: -.3em .3em rgba(184, 200, 250, 100);
  }

  .inverseButton:hover {
    box-shadow: -.3em .3em rgba(184, 200, 250, 100);
  }

  .button:active {
    background-color: #466EE9;
    border-color: #466EE9;
    box-shadow: 0 0;
    transform: translateX(-2px);
  }

  .inverseButton:active{
    background-color: white;
    border-color: #466EE9;
    color: #466EE9;
    box-shadow: 0 0;
  }

  .button:disabled {
    opacity: .6;
    background-color: #466EE9;
    border-color: #466EE9;
    box-shadow: 0 0;
  }

  .inverseButton:disabled{
    opacity: .6;
    background-color: white;
    border-color: #466EE9;
    color: #466EE9;
  }