body {
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
}

a, body {
  color: #403f3f;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
}

h2 {
  font-weight: semibold;
  font-size: 24px;
  line-height: 30px;
}

p {
  font-size: 14px;
  font-weight: medium;
  line-height:20px;
}

.container {
  width: 800px;
  margin: 50px auto;
}

.header {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 50px;
}

.button {
  background-color: #5F83F3; /* primary blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.divider {
  margin-bottom: 50px;
}

.projectListItem {
  margin-bottom: 100px;
  display: flex;
}

.projectImage {
  margin-right: 50px;
}

.projectTitle {
  font-weight: bold;
  text-decoration: none;
}

.footer p, .footer ul {
  margin-bottom: 15px;
}

@media (max-width: 800px) {
  .container {
    width: 95%;
  }

  .header, .projectListItem {
    display: block;
  }

  .logo, .projectImage {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .container {
    margin: 2.5% auto;
  }

  .header, .divider {
    margin-bottom: 25px;
  }

  .projectListItem {
    margin-bottom: 50px;
  }
}
